.home__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: -45rem;
}

.home__popular__categories {
    margin-top: 56rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popular__categories__top {
    width: 100%;

}

.popular__categories__mid {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.category__card {
    background-color: var(--black-5);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 11rem;
}

.category__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.category__card:hover .popular__category__icon {
    filter: invert(1);
}

.category__card:hover {
    background-color: var(--black-50);
    color: white;
}

.category__card {
    transition: background-color 0.3s, color 0.3s;
    color: var(--black-75);
}

.popular__category__icon {
    width: 50px;
    height: 50px;
    filter: invert(.40);
}


.home__services {
    width: 100%;
    margin-top: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__services__link {
    width: 100%;
}

.filter__services__items {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    border-bottom: 1px solid #a8a8a8;
}

.home__services__container {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    place-items: center;
    gap: 2rem;
}

.filter__category {
    margin-top: 1.5rem;
    cursor: pointer;
    width: 10%;
    text-align: center;
}

.active__category {
    border-bottom: 2px solid #f03250;
    color: #f03250;
    transition: color .4s;
}

.services__card {
    border-radius: 10px;
    box-shadow: 1px 5px 30px 1px rgba(0, 0, 0, 0.1);
}

.service__background {
    border-radius: 10px 10px 0 0;
}


.services__logo {
    position: relative;
    bottom: 2rem;
    width: 100%;
    padding: 0 2rem;
    margin-bottom: -2rem;
}

.service__logo {
    width: 4rem;
}

.business__name {
    font-size: 18px;
}

.services__mid {
    padding: 0 1.5rem;
}

.service__location {
    display: flex;
    margin-top: 1rem;
}

.service__icon {
    color: var(--black-75);
    margin-right: 10px;
}

.service__address {
    font-size: 14px;
    font-family: var(--base-font-family);
    font-weight: var(--base-font-weight);
}

.service__phone {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}


.services__bottom {
    margin-top: 1rem;
    border-top: 1px solid var(--black-25);
    display: flex;
    justify-content: space-between;
    padding: 10px 2rem;
}


.home__works__description {
    margin-top: 16rem;
    width: 100%;
}

.home__works__bottom {
    display: flex;
    justify-content: space-evenly;
}

.work__cards {
    padding: 1rem 0;
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: 1px 5px 30px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.work__card__top {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: fit-content;
    margin-bottom: 1rem;

}

.works__image {
    width: 100px;
}

.work__card__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;

}

.works__details {
    font-size: 14px;
}


.featured__location {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16rem;
}

.featured__location__bottom {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.featured__location__left,
.featured__location__right {
    flex: 0.5;
}

.left__location {
    height: 680px;
}

.featured__location__right {
    display: flex;
    flex-direction: column;
}

.location__right__top {
    display: flex;
    gap: 1rem;
}

.right__location {
    width: 300px;
    height: 400px;
}

.right__bottom__location {
    margin-top: -2rem;
    width: 100%;
    height: 260px;
}

.left__location
,.right__location
,.right__bottom__location{
    filter: brightness(60%);
    border-radius: 10px;
}

.location__name{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 4rem;
    left: 1rem;
    font-size: 18px;
    line-height: 25px;
}

.location__listing{
    font-size: 14px;
    font-weight: 300;
}

.location__link:hover {
    filter: brightness(70%);
}

.reviews__section{
    width: 100%;
    margin-top: 16rem;
}

.blogs__section{
    margin-top: 16rem;
    width: 100%;
}

.blogs__card{
    border-radius: 10px;
    box-shadow: 1px 5px 30px 1px rgba(0, 0, 0, 0.1);
    height: 27rem;
    display: flex;
    flex-direction: column;
}

.blog__details{
    display: flex;
    flex-direction: column;
}

.blog__details__top{
    display: flex;
    margin-top: 1rem;
}

.blogs__mid{
    padding: 10px 20px;
    display: flex;
    flex: 1;
    align-items: center;

}
.blog__tags{
    color: var(--black-75);
    font-size: 14px;
}

.blog__divider{
    margin: 0 10px;
}

.user__blog{
    display: flex;
    justify-content: space-between;
}

.blog__user__details{
    font-size: 14px;
    font-weight: 300;
    color: var(--black-50);
}

.home__newsletter{
    margin-top: 16rem;
    width: 100%;
    padding: 4rem 0;
    background-color: #f9f9f9;
}

.px__16{
    padding-left: 16rem;
    padding-right: 16rem;

}