.home__container {
    position: absolute;
    top: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 16rem;
}

.home__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.home__heading {
    color: #fff;
    text-align: center;
}

.home__description {
    color: #fff;
}

.home__mid {
    display: flex;
    width: 100%;
    background-color: #fff;
    justify-content: center;
    padding: 2rem 3rem;
}

.home__form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__form__input {
    border-radius: 0;
}

.home__search__btn {
    margin-left: 2rem;
    padding: 1.5rem 2.5rem !important;
}

.form__divider {
    background-color: #a8a8a8b3;
    width: 1px;
    height: 3rem;
    margin: 0 1rem;
}

.location__form__item {
    display: flex;
    align-items: center;
}

.home__location {
    width: 1.5rem;
    height: 1.5rem;
}

.home__filter {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.home__popular__categories {
    margin-top: 32rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popular__categories__mid {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.category__card {
    background-color: var(--black-5);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 11rem;
}

.category__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.category__card:hover .popular__category__icon {
    filter: invert(1);
}

.category__card:hover {
    background-color: var(--black-50);
    color: white;
}

.category__card {
    transition: background-color 0.3s, color 0.3s;
    color: var(--black-75);
}

.popular__category__icon {
    width: 50px;
    height: 50px;
    filter: invert(.40);
}

.p__text {
    font-family: var(--base-font-family);
    font-size: var(--p-font-size);
    line-height: var(--p-line-height);
    font-weight: var(--base-font-weight);
    font-weight: var(--base-font-weight);
}

.h1__text {
    font-family: var(--base-font-family);
    font-size: var(--h1-font-size);
    line-height: var(--h1-line-height);
    font-weight: bold;
}

.black__text {
    color: var(--black);
}

.listing__number {
    font-size: 14px;
}

.light__text {
    color: var(--light);
}

.category__name {
    font-size: 14px;
}