.home__container {
    position: absolute;
    top: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 16rem;
}

.home__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.home__heading {
    color: #fff;
    text-align: center;
}

.home__description {
    color: #fff;
}

.home__mid {
    display: flex;
    width: 100%;
    background-color: #fff;
    justify-content: center;
    padding: 2rem 3rem;
}

.home__form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__form__input {
    border-radius: 0;
}

.home__search__btn {
    margin-left: 2rem;
    padding: 1.5rem 2.5rem !important;
}

.form__divider {
    background-color: #a8a8a8b3;
    width: 1px;
    height: 3rem;
    margin: 0 1rem;
}

.location__form__item {
    display: flex;
    align-items: center;
}

.search__icon{
    display: flex;
    align-items: center;
    gap: 10px;
}
.home__location {
    width: 1.5rem;
    height: 1.5rem;
}

.home__filter {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.home__popular__categories {
    margin-top: 32rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popular__categories__top{
    width: 100%;

}
.popular__categories__mid {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.category__card {
    background-color: var(--black-5);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 11rem;
}

.category__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.category__card:hover .popular__category__icon {
    filter: invert(1);
}

.category__card:hover {
    background-color: var(--black-50);
    color: white;
}

.category__card {
    transition: background-color 0.3s, color 0.3s;
    color: var(--black-75);
}

.popular__category__icon {
    width: 50px;
    height: 50px;
    filter: invert(.40);
}


.home__services{
    width: 100%;
    margin-top: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__services__link{
    width: 100%;
}
.filter__services__items{
    margin-top: 1rem;
    padding: 1.5rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    border-bottom: 1px solid #a8a8a8;
}
.home__services__container{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    place-items: center;    
    gap: 2rem;
}
.services__card{
    border-radius: 10px;
    box-shadow: 1px 5px 30px 1px rgba(0, 0, 0, 0.1);
}

.service__background{
    border-radius: 10px 10px 0 0;
}


.services__logo{
    position: relative;
    bottom:2.5rem;
    width: 100%;
    padding: 0 2rem;
    margin-bottom: -2rem;
}
.service__logo{
    width: 4rem;
}

.business__name{
    font-size: 18px;
}
.services__mid{
    padding: 0 1.5rem;
}
.service__location{
    display: flex;
    margin-top: 1rem;
}

.service__icon{
    color: var(--black-75);
    margin-right: 10px;
}
.service__address{
    font-size: 14px;
    font-family: var(--base-font-family);
    font-weight: var(--base-font-weight);
}

.service__phone{
    margin-top: 1rem;
    display: flex;
    align-items: center;
}


.services__bottom{
    margin-top: 1rem;
    border-top: 1px solid var(--black-25);
    display: flex;
    justify-content: space-between;
    padding: 10px 2rem;
}