.services__card {
    border-radius: 10px;
    box-shadow: 1px 5px 30px 1px rgba(0, 0, 0, 0.1);
}

.service__background {
    border-radius: 10px 10px 0 0;
}

.services__logo {
    position: relative;
    bottom: 2rem;
    width: 100%;
    padding: 0 2rem;
    margin-bottom: -2rem;
}

.service__logo {
    width: 4rem;
}

.services__mid {
    padding: 0 1.5rem;
}


.business__name {
    font-size: 18px;
}

.service__location {
    display: flex;
    margin-top: 1rem;
}

.service__icon {
    color: var(--black-75);
    margin-right: 10px;
}

.service__address {
    font-size: 14px;
    font-family: var(--base-font-family);
    font-weight: var(--base-font-weight);
}

.service__phone {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.services__bottom {
    margin-top: 1rem;
    border-top: 1px solid var(--black-25);
    display: flex;
    justify-content: space-between;
    padding: 10px 2rem;
}