.header__container {
    z-index: -1;
}

.background__image {
    filter: brightness(50%);
}

.header__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 1rem 8rem;
}

.header__logo {
    height: 4rem;
    width: 4rem;
}

.header__mid {
    width: 35rem;
}

.nav__items {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav__links{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 1.5rem;
    border-radius: 6px;
}
.nav__link {
    color: #fff;
    font-family: var(--base-font-family);
    font-size: var(--p-font-size);
    text-align: center;
}


.nav__links:hover{
background-color: rgba(255, 255, 255, 0.24);
}

.header__right {
    display: flex;
    justify-content: space-between;
    width: 18rem;
}
.header__cta__btns{
    padding: 1.5rem 2rem !important;
}
.addlisting__btn{
    background-color: var(--error)!important;
}
