.header__contents {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 8rem;
    position: relative;
    top: 0;
    z-index: 1;
    background-color: transparent;
}

.header__logo {
    height: 4rem;
    width: 4rem;
}

.nav__flex {
    border: 2px solid red;
    width: 100%;
    display: flex !important;
    justify-content: space-between !important;
    gap: 2rem;
}

.nav__start {
    border: 2px solid red;
    width: 100%;
    justify-content: space-between !important;
}

.nav__mid {
    border: 2px solid red;
}

.header__mid {
    display: flex;
}

.nav__link {
    margin: 0 1rem;
    padding: 10px 1.5rem;
    border-radius: 6px;

}

.nav__link,
.add_listing__link {
    color: #fff;
    font-family: var(--base-font-family);
    font-size: var(--p-font-size);
    font-weight: var(--base-font-weight);
    text-align: center;
    line-height: var(--p-line-height);
}


.nav__link:hover {
    background-color: #f03250;
}

.header__cta__btns {
    padding: 1.5rem 2rem !important;
}

.active {
    background-color: rgba(255, 255, 255, 0.30);
}